<header>
  <div class="jumbotron text-white mt-4" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(
      /static/pets.png); background-position: center bottom; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="display-3">
            Pet Shop Web Site
          </h1>
          <p class="lead">
            <strong>
              Welcome to the Pet Shop online, everything you need for your pet is right
              here!
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>