{{> navBar this}}
{{> header this}}
{{> messages this}}
<script>
  function signup_clicked(event) {
    event.preventDefault();
    var form = document.getElementById('signup-form');
    form.classList.add('was-validated');
    if (form.checkValidity()) {
      if ($('#password1').val() === $('#password2').val()) {
        Model.signup($('#name').val(), $('#surname').val(), $('#address').val(), new Date($('#birth').val()), $('#email').val(), $('#password1').val())
          .done(function (user) { 
            Messages.success.push(`Welcome ${user.name } ${user.surname}, please sign in!`)
            navigateTo('/signin', event) })
          .fail(function (error) {
            Messages.danger.push(`${error.statusText} (${error.status}): ${error.responseJSON.message}`);
            navigateTo('/signup', event)
          })
      } else {
        alert("Passwords do not match!")
      }
    } else {
      alert("Please, fill the missing fields!");
    }
  }
</script>
<main>
  <div class="container align-start-center">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form id="signup-form" class="form-signup needs-validation" novalidate>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name"
                    aria-describedby="basic-addon1" required autofocus>
                  <div class="invalid-feedback">The name field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-bookmark"></i></span>
                  </div>
                  <input id="surname" type="text" class="form-control" placeholder="Surname" aria-label="Surname"
                    aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">The surname field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input id="address" type="text" class="form-control" placeholder="Address" aria-label="Address"
                    aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">The address field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                  </div>
                  <input id="birth" type="date" class="form-control" placeholder="BirthDate" aria-label="BirthDate"
                    aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">The birth date field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input id="email" type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                    aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">The e-mail field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input id="password1" type="password" class="form-control" placeholder="Password"
                    aria-label="Password" aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">The password field cannot be empty</div>
                </div>
              </div>
              <div class="form-label-group mx-2 my-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input id="password2" type="password" class="form-control" placeholder="Confirm Password"
                    aria-label="Password" aria-describedby="basic-addon1" required>
                  <div class="invalid-feedback">You must confirm your password</div>
                </div>
              </div>
              <!-- <div class="custom-control custom-checkbox mx-2 my-2 mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                      </div> -->
              <a class="btn btn-lg btn-primary btn-block text-camelcase" onclick="signup_clicked(event)">Sign
                up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br />
<br />
{{> footer this}}